/* 
----------------------------------------------
----------------------- HEADER ---------------
----------------------------------------------
 */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #FF5E00;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
  }

  .logo img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  nav ul {
    list-style-type: none;
    margin: 10px 0 0; /* Added margin for spacing on mobile */
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color:  #FAF1CB;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: #FF5E00; /* Change to your desired hover color */
  }

/*Media query for mobile*/  

  @media (max-width: 600px) {
    header {
      padding: 10px;
    }
  
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    nav li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
    footer {
      margin-top: auto;
      margin-left: 2vh;
      margin-bottom: 4vh;

   }

  }
    /*Prenumeration*/

  #newsletter-container {
    background-color: grey;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2vh;
    width: 34vh;
    text-align: center;
}

#newsletter-container h3 {
    color: #fff;
    font-family: cursive;
}

#newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#newsletter-form label {
    color: #fff;
    margin: 10px 0;
    text-align: left;
    width: 100%;
    font-family: cursive;
}

#newsletter-form input {
    width: 100%;
    padding: 6px;
    margin: 5px 0;
    box-sizing: border-box;
}

#newsletter-form button {
    background-color: #2c6db3;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

#newsletter-form button:hover {
    background-color: #0056b3;
}

/* 
----------------------------------------------
----------------------- MAIN -----------------
----------------------------------------------
 */

main {
  background-color: #ff8b47;
  color: #FAF1CB;
  padding: 20px 20px;
  font-size: 1.2rem;
  width: 100vw
  max-height: auto;
  place-items: center;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  align-items: start;
}

.poster {
  display: flex;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: relative;
 
}

.poster img {
  width: 50%;
  height: 85%;
  object-fit: cover;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
  backface-visibility: hidden;
}

.poster img:hover {
  transform: rotateY(180deg);
}

.movie-description {
  position: absolute;
  visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
  transition: transform 1s ease-in-out;
  width: 50%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #FAF1CB;
  padding: 10px;
  text-align: center;
}

img:hover + .movie-description {
  visibility: visible;
  transform: rotateY(0deg);
  z-index: 2;
}
